* {
    color: white;
    font-family: 'Jua', cursive;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

#restart {
    background-color: rgb(226, 92, 9);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}
#restart:hover {
    cursor: pointer;
    background-color: rgb(195, 131, 195);
    border: 3px solid rgb(244, 209, 255);
    border-radius: 12px;
    margin-top: 30px;
    color: rgb(72, 33, 156);
}

#headerContainer {
    background-color: rgb(24, 16, 35);
}

#header{
    color: #eaf6ff;
    font-family: 'Jua', cursive;
    font-weight: 500;
    font-size: 70px;
    margin: 30px 0 30px 0;
}

body {
    background-color: rgb(62, 50, 81);
}

#buttons{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moves {
    background-color: rgb(50, 36, 62);
    padding: 30px; 
    border-radius: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0 20px 0;
}

#move1, #move2 {
    width: 200px;
}

#headerContainer, #playerMove, #computerMove, #moveTitle1, #moveTitle2, #scoreTitle1, #scoreTitle2, #playerScore, #computerScore {
    display: flex;
    justify-content: center;
}

#scores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.scoreContainer1, .scoreContainer2{
    width: 200px;
    background-color: rgb(50, 36, 62);
    border-radius: 30px;
    padding: 15px;
    transition: all .3s;
}

#gameResult, #gameResult2 {
    margin-top: 20px;
}

#gameResult2 {
    font-size: 30px;
}

.question {
    width: 100px;
    padding: 5px;
    background: rgb(255, 171, 119);
    border-radius: 15%;
    transition: all .3s;
}

#moveTitle1, #moveTitle2 {
    margin-bottom: 10px;
}

@property --c {
    syntax: '<color>';
    inherits: false;
    initial-value: crimson;
  }

#rock, #paper, #scissors {
    border: 3px solid white;
    border-radius: 15%;
    width: 180px;
    background: radial-gradient(var(--c), crimson);
    transition: --c 0.3s;
}

#rock:hover, #paper:hover, #scissors:hover {
    --c: #ffeaea;
}

#rock:active, #paper:active , #scissors:active{
    scale: 0.95;
}

.win {
    background: rgb(1, 161, 1);
    animation-name: example;
    animation-duration: 0.3s;
    
}
.win1 {
    color: rgb(1, 161, 1);
}

.clicked {
    background: rgb(255, 201, 38);
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0% {scale: 1}
    50% {scale: 0.95}
    100% {scale: 1}
  }
